# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# PyInstaller
build/
dist/
release/
*.spec

# Installer logs
debug.log

# macOS/Linux/Windows system files
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/
*.swp

# Application config
config.json

# Temporary files
*.tmp
*.temp